<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>C is for Cookie</title>
  </head>
  <body>
    <img
      class="cookieMonster"
      src="/tattly_sesame_street_characters_cookie_monster_web_01_grande0.jpg"
      alt="cookie monster" />
    <h2>Rules:</h2>
    <h3>1. Do you have any cookies</h3>
    <h3>2. Don't touch my f****** cookies!</h3>
      <img
        class="cookieMonster"
        src="/cookiemonster_copy.png"
        alt="cookie monster" />

    <form class="loginInfo" action="/" method="post">
      <div>
        <label for="username">Username</label>
        <input type="text" username="" value="">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" password="" value="">
      </div>
      <div class="submitLogin">
        <button type="submit">Login</button>
      </div>
    </form>

  </body>
</html>
